{%extends 'layout.html'%}
{%block content%}
<h2>Home Page</h2>
<hr>
<h2>Welcome to our Gym Progress Tracking Portal! We're dedicated to assisting you in maintaining a clear record 
    of your fitness journey. In a world where every individual's path is distinct, our website offers a unique space 
    for you to monitor your progress with precision. Specifically designed to keep you engaged and accountable, our 
    platform focuses on tracking the weights you've been performing for each workout and the corresponding sets. Whether 
    you're a seasoned fitness enthusiast striving to reach new milestones or just embarking on your exercise odyssey, our 
    user-friendly interface provides you with the tools to log your accomplishments accurately. This process not only helps 
    you acknowledge your improvements but also allows you to set fresh objectives as you witness your progress unfolding. 
    Join us in celebrating the small victories and embracing the continuous evolution of your fitness expedition, 
    one step at a time. </h2>
{%endblock%}

