{%extends 'layout.html'%}
{%block content%}
</head>
<body>
    <header>
        <h2>Welcome to Gym Progress Tracking
    </header>
    
    <main>
        <section class="featured-workouts">
            <h2>Featured Workouts</h2>
            <p>
    
                1. Bench Press:
                The bench press is a classic upper-body exercise that primarily targets the chest, shoulders, and triceps. It involves lying on a flat bench and pushing a barbell or dumbbells away from your chest. This exercise is renowned for building a strong and well-defined chest, making it a favorite among bodybuilders. It also engages the shoulders and triceps, helping to enhance upper body strength. Variations like the incline and decline bench press can further emphasize different parts of the chest.
                <br><br>
            
                2. Squat:
                Squats are often hailed as the king of lower-body exercises. This compound movement primarily targets the quadriceps, hamstrings, glutes, and lower back. Squats are excellent for building leg strength and developing muscle mass in the lower body. They also engage the core for stability and balance. Proper squat technique is crucial to prevent injury and maximize benefits, and variations like front squats and goblet squats provide alternative challenges.
                <br><br>
                3. Deadlift:
                The deadlift is a full-body exercise that engages nearly every major muscle group. It primarily targets the lower back, glutes, hamstrings, and traps. Deadlifts are known for building a strong posterior chain, which is vital for everyday activities and athletic performance. They also promote excellent grip strength. Deadlifts can be performed with a barbell, dumbbells, or a trap bar. It's essential to maintain proper form to reduce the risk of injury when lifting heavy weights.
                
                The optimal nature of these exercises lies in their ability to stimulate a wide range of muscles simultaneously, making them highly efficient for muscle building and strength gains. Incorporating these compound movements into your workout routine can lead to significant improvements in overall strength and physique. However, it's important to remember that proper form, progressive overload, and balanced training are key to reaping the full benefits while minimizing the risk of injury. Always consult with a fitness professional if you're new to these exercises or have any concerns about your form or technique.
          
            </p>
        </section>

        <section class="fitness-tips">
            <h2>Fitness Tips</h2>
            <!-- Add fitness tips content here -->
        </section>
    </main>
    <hr>
    <footer>
        <p>&copy; 2023 Gym Progress Tracking</p>
    </footer>
{%endblock%}

