{%extends 'layout.html'%}
{%block content%}
<div>
    <h1>Add Lift</h1>
    <form action="/add_lift">
        
        <label> Lift name</label>
        <input name="name" type="text" placeholder=" "><br>
        
        <label> Lift description </label>
        <input name="description" type ="text" placeholder=" "><br>
        
        <label> weight</label>
        <input name="weight" type ="integer" placeholder=" "><br>
        
        <input type="submit" value = "Create lift"><br>
        
    </form>
    <p>return to <a href = '/user/11'>Dashboard</a>?<p>
</div>
{%endblock%}