{%extends 'layout.html'%}
{%block content%}
<div>
    <h1>Add Lift</h1>
    <form action="/add_lift">
        
        <label> Lift name</label>
        <input name="name" type="text" placeholder=" "><br>
        
        <label> Lift description </label>
        <input name="description" type ="text" placeholder=" "><br>
        
        <label> weight</label>
        <input name="weight" type ="integer" placeholder=" "><br>
        
        <input type = "Create lift">
    </form>
</div>
{%endblock%}