{% extends 'layout.html' %}
{% block content %}
<div>
    <h1>{{ user[1] }}'s Dashboard</h1>
    <hr>
    <h2>Your Lifts</h2>
    <a href="/add_lift">Add an Exercise</a>

    {% if excercises %}
    <table class="exercise-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in excercises %}
            <tr>
                <td>{{ exercise[1] }}</td>
                <td>{{ exercise[2] }}</td>
                <td>{{ exercise[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You haven't added any exercises yet.</p>
    {% endif %}
</div>
{% endblock %}